<h1>Portfolio items</h1>
<a href="portfolios/new" title="">Create new item</a>
<%= link_to "Create new item", new_portfolio_path, subdomain: "my_subdomain" %>
<p>
  <%= new_portfolio_path %>
</p>
<p>
  <%= new_portfolio_url %>
</p>
<%= render partial: "portfolio_item", collection: @portfolio_items%>
