<section class="jumbotron text-center">
   <div class="container">
      <h1 class="jumbotron-heading">My Portfolio</h1>
      <p class="lead text-muted">I'm a passionate computer science engineer with more than 10 years of well-rounded experience in product development, object-oriented design, application integration design, Search engine design and continuous integration. My skills include Java-JEE, Ruby on Rails, Golang and Python. I also have experience with Elasticsearch (ELK) and Apache Solr.</p>
      <p>
        <%= link_to 'Find Out More About Me', about_path, class: 'btn btn-primary my-2'%>
        <%= link_to 'My Blogs', blogs_path, class: 'btn btn-secondary my-2'%>
      </p>
   </div>
</section>