<h1>Would you like to work together?</h1>
<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>D1 301, Ganga Bhagyoday, Manikbag, Sinhagad Road, Pune - 411 051</p>

    <h3>Phone</h3>

    <p><%=number_to_phone "+91 77091 53669" %></p>

    <h3>Email</h3>

    <p><a href="mailto:sujaybawaskar@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.291135213472!2d73.81917851544607!3d18.4704672874382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2955d21b45a7f%3A0xcf37eb09aa8b3467!2sGanga+Bhagyoday%2C+Narveer+Tanaji+Malusare+Rd%2C+Niranjan+Park%2C+Anand+Nagar%2C+Pune%2C+Maharashtra+411051!5e0!3m2!1sen!2sin!4v1543210516549" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
