      <div class="inner cover">
        <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead">I'm a passionate computer science engineer with more than 10 years of well-rounded experience in product development, object-oriented design, application integration design, Search engine design and continuous integration. My skills include Java-JEE, Ruby on Rails, Golang and Python. I also have experience with Elasticsearch (ELK) and Apache Solr.</p>
        <p class="lead">
          <%= link_to "About Me",about_path, class: 'btn btn-lg btn-secondary' %>
        </p>
      </div>
